body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.logo_title{
  font-family: Monoton,sans-serif;
  text-decoration: none;
}
.logo-wrap{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-wrap svg{
  fill: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 15px;
}
.col-3{
  max-width: 25%;
  padding: 15px;
}
h1,h2,h3,h4,h5,h6{
  color: rgba(255,255,255);
}
img {
  width: 100%;
}
.hero{
 padding: 15px;
  margin: 0 auto;
}
.hero img{
  width: 100%;
  height: 100vh;

}
.move-img{
  width: 100%;
  /*height: 100%;*/
  object-fit: cover;
}
.col-6{
  max-width: 50%;
  padding: 15px;
}
h1,p,h2,h3,h4,h5,h6 {
  font-family: Tahoma, Arial, Verdana, sans-serif;
}
.box{
  background: linear-gradient( 149deg, #192247 0%, #210e17 96.86% );
  padding: 25px 30px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box h3:hover{
  color: #f50;
}
.box img{
  border-radius: 15px;
}


h1{
  font-size: 40px;
  font-weight: 700;
}
.moves_title{
  color:  grey;
  margin: 20px 0;
}
.moves_date{
  color:  grey;

}
.movie-box p{
  color: rgba(0,0,0,.6);
  font-size: 14px;
}
.moves_info{
  padding: 30px 0;
}
span{
  margin: 20px 0;
  font-size: 16px;
  line-height: 2;
  color: #fff;
}
.moves_info h2{
  font-size: 22px;
  font-weight: 600;
}

.inner-box{
  display: flex;
  flex-direction: column;

}

li{
  list-style: none;
}
li h3{
  font-size: 18px;
  font-weight: 600;

}
li p{
  font-size: 13px;
  color: #fff;
}
li h3:hover{
  color: #f50;
}
li p:hover{
  color: #f50;
}
ul{

  padding: 20px;
  overflow: scroll;
  width: 100%;
  height: 350px;
}
ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-track {
  background: black;
}

ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
}

.move_rating{
  font-size: 32px;
  font-weight: 700;
  color: #3bb33b;
}
.move_popular{
  color: grey;
  font-size: 13px;
  margin-bottom: 20px;
}
.move_actors{
  color: #f50;
  margin-top: 30px;
}
.trailer_container h2{
  margin-bottom: 20px;
}
.trailer_container{
  padding-top: 30px;
}
.box-title{
  color: #f50;
  text-decoration:none;
}

header{

  background-color: #141414;
  padding: 30px 0;
}
.header-container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  display: flex;
  gap: 80px;
}
.logo-img{
  width: 250px;

}

.homeBtn, .searchBtn{
  padding: 10px 25px;
  background: -webkit-gradient(linear,left top,right top,from(#ff5c4d),color-stop(26.56%,#eb469f),color-stop(75%,#8341ef),to(#3f68f9));
  text-decoration: none;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
 border: none;
  cursor: pointer;
}
.mySwiper{
  height: 100vh;
}
.searchInput{
  padding: 10px 25px;
background: rgb(118, 118, 118);
  border-radius: 15px;
  color: white;
  font-size: 15px;
 border: none;
}
.searchInput::placeholder{
  color: white;
}
.search-cont{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.pagination-container{
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn-pagination{
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
}
.btn-pagination:hover{
  color: #f50;
}
.innerBtn{
  background: transparent;
  border: none;
  cursor: pointer;
}
.innerBtn svg{
  fill: white;
}
.carousel-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
display: flex;
  justify-content: flex-end;

}
.carousel-poster{
  max-height: 500px;
  height: 100%;
  max-width: 400px;
  object-fit: contain;
}
.poster-content{
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(31,29,29,0.48);
  border-radius: 15px;
  backdrop-filter: blur(6,8px);
  -webkit-backdrop-filter: blur(6,8px);
  box-shadow: 0px 2px 25px  rgba(31,29,29,0.46);
  padding: 0 50px;

}
.MuiPagination-ul{
  display: flex;
  justify-content: center;
  height: unset;
}
.MuiPagination-ul button{
  background-color: transparent;
  border-color: white;
  color: white;
}
.css-1v2lvtn-MuiPaginationItem-root{
  color: white !important;
}